body,
html {
    background: #f8f8f8!important;
    font-family: 'Arimo', sans-serif;

    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    padding: 0;
}


.wrapper {

    height: 10em;
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100%;
    transition: all 3s ease-in;

    @mixin atSmall {
        flex-direction: row;
    }

}
